# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives__:
- Languages for Data Science like Python, R, Java, Julia
- Learnt about TensorFlow, AirFlow, PyTorch
- Learnt about libraries numpy, pandas, matplot

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java

#### Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplot

|Data Science Tools|
|------------------|
| PyTorch          |
| TensorFlow       |
| Jupyter Notebook |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
## This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Hemashree Thavaseelan